.appBtn {
    padding: 8px;
    color: white;
    font-size: 14px;
    background: #e08b0a;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: "Roboto", serif;
}